.header {
  a,
  &__info-city {
    color: $grey;
    font-size: 13px;
  }

  &__about,
  &__info {
    line-height: 30px;
  }

  &__inner {
    display: flex;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  &__image-container {
  }

  &__image {
  }

  &__info {
    margin-left: 36px;
    flex: 1 1 auto;
  }

  &__info-top {
    display: flex;
  }

  &__info-city {
    cursor: pointer;
    font-size: 15px;
    display: flex;
    align-items: center;
    svg {
      margin-left: 5px;
    }
  }

  &__info-number {
    margin-left: 10px;
    font-size: 16px;
  }

  &__info-bottom {
  }

  &__info-profile {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 13px;

    svg {
      width: 17px;
      margin-left: 7px;
      fill: $grey;
    }
  }

  &__about {
    margin-right: 30px;
  }

  &__about-top {
  }

  &__about-link {
    & + & {
      margin-left: 15px;
    }
  }

  &__about-bottom {
  }

  &__cashback {
    margin-right: 50px;
    font-size: 15px;
    color: $grey;
    padding: 10px 25px;
    border-radius: 19px;
    background-color: $white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 10%);
    cursor: pointer;
  }

  &__cashback-inner {
    display: flex;
    align-items: center;

    span {
      padding-right: 10px;
    }
  }

  &__cart {
  }

  &__cart-link {
  }
}
